.horizontal-scroll {
  overflow: hidden;
  height: 100vh;
}

.slider-track {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.screen {
  width: 1438px;
  height: 600px;
  position: relative;
}

.texte {
  font-size: 30px;
}

.fourty {
  .ecran-1 .texte-1 {
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    position: absolute;
    left: 1%;
    top: -21%;
  }

  .ecran-2 {
    width: 2747px;
    height: 600px;
  }

  .ecran-2 .img-1 {
    position: absolute;
    left: 15%;
    top: -30%;
  }

  .ecran-2 .texte-1 {
    position: absolute;
    left: 35%;
    bottom: -15%;
  }

  .bg {
    width: 12030px;
    display: inline-flex;
    flex-direction: row;
    background-repeat: repeat-x;
    background-image: url(../img/train-moitié.png?as=webp);
    background-size: 49%;
    position: relative;
  }

  .bg .screen {
    position: relative;
    top: -30%;
    left: 0;
  }

  .ecran-3 {
    width: 1850px;
  }

  .img-2 {
    position: absolute;
    left: 20%;
    top: -20%;
  }

  .img-3 {
    position: absolute;
    right: 0%;
    bottom: -20%;
  }

  .ecran-3 .texte-1 {
    position: absolute;
    left: 43%;
    top: -18%;
  }

  .ecran-3 .texte-2 {
    position: absolute;
    right: 15%;
    top: 30%;
  }

  .ecran-4 {
    width: 1270px;
  }

  .img-4 {
    position: absolute;
    right: 0%;
    top: -20%;
  }

  .ecran-5 {
    width: 1670px;
  }

  .img-5 {
    position: absolute;
    left: 10%;
    bottom: -20%;
  }

  .ecran-5 .texte-1 {
    position: absolute;
    left: 10%;
    top: 15%;
  }

  .ecran-5 .texte-2 {
    position: absolute;
    right: 15%;
    bottom: -20%;
  }

  .ecran-6 {
    width: 1370px;
  }

  .img-6 {
    position: absolute;
    left: 15%;
    top: -20%;
  }

  .ecran-6 .texte-1 {
    position: absolute;
    left: 67%;
    top: -13%;
  }

  .ecran-7 {
    width: 1300px;
  }

  .img-7 {
    position: absolute;
    right: 0%;
    bottom: -20%;
  }

  .ecran-7 .texte-1 {
    position: absolute;
    left: 30%;
    top: 33%;
  }

  .ecran-8 {
    width: 1300px;
  }

  .img-8 {
    position: absolute;
    right: 50%;
    top: -20%;
  }

  .ecran-8 .texte-1 {
    position: absolute;
    right: 10%;
    top: -15%;
  }

  .ecran-9 {
    width: 3300px;
  }

  .img-9 {
    position: absolute;
    right: 40%;
    top: -15%;
  }

  .ecran-9 .texte-1 {
    position: absolute;
    right: 15%;
    bottom: -18%;
  }

  .ecran-10 .texte-1 {
    position: absolute;
    right: 5%;
    top: -10%;
  }

  .foots {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .img-10 {
    position: absolute;
    left: 0%;
    bottom: -20%;
  }

  .img-11 {
    position: absolute;
    right: 30%;
    top: -40%;
  }

  .img-12 {
    position: absolute;
    right: 0%;
    bottom: -30%;
  }

  .ecran-12 {
    width: 1920px;
  }
}

.fourteen {
  .ecran-1 .texte-1 {
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    position: absolute;
    left: 1%;
    top: -21%;
  }

  .ecran-2 {
    width: 2747px;
    height: 600px;
  }

  .ecran-2 .img-1 {
    position: absolute;
    right: 25%;
    top: -30%;
  }

  .ecran-2 .texte-1 {
    position: absolute;
    left: 35%;
    bottom: -21%;
  }

  .bg {
    width: 12030px;
    display: inline-flex;
    flex-direction: row;
    background-repeat: repeat-x;
    background-image: url(../img/train-moitié.png?as=webp);
    background-size: 50%;
    position: relative;
  }

  .bg .screen {
    position: relative;
    top: -30%;
    left: 0;
  }

  .ecran-3 {
    width: 1850px;
  }

  .img-2 {
    position: absolute;
    left: 20%;
    top: -20%;
  }

  .img-3 {
    position: absolute;
    right: 0%;
    bottom: -20%;
  }

  .ecran-3 .texte-1 {
    position: absolute;
    left: 40%;
    bottom: -18%;
    text-align: right;
  }

  .ecran-4 {
    width: 2170px;
  }

  .img-4 {
    position: absolute;
    left: 40%;
    top: -20%;
  }

  .img-5 {
    position: absolute;
    right: 0%;
    bottom: -20%;
  }

  .ecran-4 .texte-1 {
    position: absolute;
    left: 65%;
    top: -20%;
  }

  .ecran-5 {
    width: 2570px;
  }

  .img-6 {
    position: absolute;
    right: 30%;
    top: -20%;
  }

  .ecran-5 .texte-1 {
    position: absolute;
    left: 23%;
    top: 57%;
  }

  .ecran-6 {
    width: 2570px;
  }

  .img-7 {
    position: absolute;
    left: 15%;
    bottom: -20%;
  }

  .ecran-6 .texte-1 {
    position: absolute;
    left: 16%;
    top: 28%;
  }

  .ecran-7 {
    width: 3300px;
  }

  .ecran-7 .texte-1 {
    position: absolute;
    left: 5%;
    top: -15%;
    text-align: right;
  }

  .img-8 {
    position: absolute;
    right: 25%;
    top: -20%;
  }

  .ecran-7 .texte-2 {
    position: absolute;
    right: 5%;
    bottom: -15%;
  }

  .ecran-8 .texte-1 {
    position: absolute;
    right: 5%;
    top: -10%;
  }

  .foots {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .img-9 {
    position: absolute;
    left: -2%;
    bottom: -20%;
  }

  .img-10 {
    position: absolute;
    right: 40%;
    top: -20%;
  }

  .img-11 {
    position: absolute;
    right: 0%;
    bottom: -30%;
  }

  .ecran-10 {
    width: 1920px;
  }
}
